@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
* {
    font-family: 'Montserrat Alternates';
}

body {
    overflow-x: hidden;

}
.main-container {
   
    padding: 8px;
    margin: -8px;
    height: 720px;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(124, 241, 154, 0.89));
    

}
.header {

    margin-top: 8px;
    height: 50px;
    display: flex;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;

    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;
    overflow-x: hidden;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.521);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.header > button{
    outline: none;
    border-radius: 10px;
    padding: 5px;

    background-color: rgba(122, 122, 96, 0);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    position: sticky;
    top: 0;

}

.header > button:hover{
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.about_me {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.about_me > span.hello {
    
    animation: fadeIn 2s ease-in-out;
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about_me > span.info {
    font-size: 30px;
}

.stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teh-group {
    display: flex;
    flex-direction: row;
}
.teh-item {
    padding: 20px;
    margin:8px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.5s ease;
}

.teh-item:hover {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
}


